datadir="/var/lib/proxysql"

admin_variables=
{
	admin_credentials="root:root"
	mysql_ifaces="0.0.0.0:6032"
	refresh_interval=2000
	debug=true
}

mysql_servers =
(
	{
		address="mysql_master_1"
		port=3307
		hostgroup=1
		max_connections=200
		comment="mysql_master_1"
	},
  {
		address="mysql_master_2"
		port=3308
		hostgroup=1
		max_connections=200
		comment="mysql_master_2"
	}
)

mysql_users =
(
 	{
 		username = "root"
 		password = "root"
 		default_hostgroup = 1
 		max_connections=1000
 		default_schema="information_schema"
 		active = 1
 	}
)

mysql_variables =
{
		interfaces="0.0.0.0:3306"
		default_schema="information_schema"
		monitor_username="root"
		monitor_password="root"
}
